 .pessoa-add-title {
    margin: 20px 0;
  }
  
  .form-add {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 0px;
  }

  .form-input-estado{
    margin-top: 10px;
    margin-bottom: 7px;
    width: 80%;
  }
  
.save-pessoa{
    background-color: #3dabd6;
    font-family: 'League Spartan', sans-serif;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color: white;
    border: none;
    outline: none;
}

.save-pessoa:active{
    background-color: #287897;
}

.save-equip{
  background-color: #3dabd6;
  font-family: 'League Spartan', sans-serif;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: white;
  border: none;
  outline: none;
}

.save-equip:active{
  background-color: #287897;
}

.dropzone {
  border: 3px dashed #0087F7;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  max-height: 150px;
}

.preview-image {
  max-width: 100%;
  max-height: 120px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.form-add-equip{
  margin-top: -10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-string{
  font-weight: 600;
  font-size: 18px;
  font-family: 'League Spartan', sans-serif;
  background-color: #3dabd6a6;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  
}

.photos{
  width: 80%;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

