.img-div{
    width: 20%;
    margin-top: -10px;
}

.container-div{
    background-color: #ffffff;
    border-top-right-radius: 60px;
    height: inherit;
    margin-top: 10px;
}

.emprestimo-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    margin-left: 20px;
}

.box-emprestimo{
    background-color: #eeeeee;
    width: 90%;
    border-radius: 20px;
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.atrasado{
    display: flex;
    justify-content: center;
}

.status-atrasado{
    background-color: #d41414;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.nomepessoa-emprestimo{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 19px;
    display: flex;
    font-weight: 500;
    text-align: start;
}

.date-input{
    width: 45%;
}

.nomeequipamento-emprestimo{
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -5px;
    display: flex;
    font-weight: 400;
}

.data-emprestimo{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-top: -5px;
    display: flex;
    font-weight: 400;
}

.carga-obeso{
    margin-top: 5px;
    background-color: #00719C;
    border-radius: 20px;
    padding: 5px;
    width: 20%;
    margin-left: 20px;
    color: white;
}

.row-datas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-devolucao{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -5px;
    display: flex;
    font-weight: 400;
}

.row-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-edit-equip-div{
    background-color: #71C7E8;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 15px;
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: 8px;
}

.btn-edit-equip{
    width: 15px;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
}

.carga-semi-obeso{
    margin-top: 5px;
    background-color: #71C7E8;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    margin-left: 20px;
    color: white;
}

.carga-normal{
    margin-top: 5px;
    background-color: #4c4fe2;
    border-radius: 20px;
    padding: 5px;
    width: 20%;
    margin-left: 20px;
    color: white;
}

.btn-finalizar{
    margin-top: 5px;
    background-color: #DD7474;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    width: 25%;
    margin-left: 10px;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn-finalizar:active{
    background-color: rgb(204, 42, 42);
}

.modals{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.emprestimos{
    height: 580px;
    overflow-y: auto;
    border-radius: 20px;
}
