.img-div{
    width: 20%;
    margin-top: -10px;
}

.container-div{
    background-color: #ffffff;
    border-top-right-radius: 60px;
    height: inherit;
    margin-top: 10px;
    overflow-y: auto;
}

.carregando-p{
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
}

.btns-div{
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.welcome-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    margin-left: 20px;
    justify-content: left;
}

.sub-welcome-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    margin-top: -5px;
    margin-left: 22px;
}

.notifications-box{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 30px;
    width: 90%;
    height: 200px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.notification-title{
    margin-top: 10px;
    font-family: 'League Spartan', sans-serif;
}

.notifications{
    display: flex;
    flex-direction: column;
}

.icon-bell-atrasado{
    color: #d41414;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.icon-bell-agendado{
    color: #1417d4;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.sub-box-atrasados{
    background-color: rgb(180, 180, 180);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub-box-agendados{
    background-color: rgb(180, 180, 180);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nome-atrasado{
    font-weight: bold;
}

.nome-agendado{
    font-weight: bold;
}

.message-atrasado{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
}
.message-atrasado-2{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
}

.message-agendado{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
}
.message-agendado-2{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
}

.icon-chair-2{
    width: 50px;
    height: 50px;
}

.no-emprestimos-2 div{
    font-size: 18px;
}

.atrasados{
    width: 100%;
}

.agendados{
    width: 100%;
}

.profile-btn-atrasado{
    border: none;
    outline: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    right: 10px;
    background-color: transparent;
    margin-right: 18px;
    margin-top: 170%;
}

.profile-btn-agendado{
    border: none;
    outline: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    right: 10px;
    background-color: transparent;
    margin-right: 18px;
    margin-top: 170%;
}

.icon-btn-atrasado{
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.icon-btn-agendado{
    background-color: transparent;
    width: 20px;
    height: 20px;
}
