*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main-content{
    background-color: #3dabd6;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
}

@media (max-width: 1080px){
}

.WheelShareLogo{
    margin-top: 30%;
    width: 55%;
}

.sub-content1{
    background-color: #ffffff;
    border-top-left-radius: 60px;
    height: inherit;
    margin-top: 30px;
    height: 60%;
}

.sub-content2{
    background-color: #ffffff;
    border-top-left-radius: 60px;
    height: inherit;
    margin-top: 30px;
}

.btns-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.login-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
}

.form-email{
    width: 70%;
    margin: 0 auto;
}

.form-senha{
    width: 70%;
    margin: 0 auto;
}

.form-cnpj{
    width: 70%;
    margin: 0 auto;
}

.form-razaosocial{
    width: 70%;
    margin: 0 auto;
}

.form-nomefantasia{
    width: 70%;
    margin: 0 auto;
}

.form-telefone{
    width: 70%;
    margin: 0 auto;
}

.form-endereco{
    width: 70%;
    margin: 0 auto;
}


.form-group{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}



#loading-icon{
    margin-right: 20px;
}

.alert{
    position: fixed;
}

#btnEntrar{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: #3dabd6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

#btnEntrar span{
    margin-top: 3px;
}

#btnAssoc{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    color: #3dabd6;
    background-color: transparent;
    display: flex;
    border: 2px solid #3dabd6;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.span-member{
    margin-top: 10px;
}

.plus-categoria-div{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.plus-categoria {
    position: fixed;
    bottom: 40px;
    padding: 10px 20px;
    width: 250px;
    background-color: #71C7E8;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Ensures it is above other elements */
  }

  .plus-categoria:hover {
    background-color: #0056b3;
  }

  .categorias{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  .usuarios{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  .box-categ{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }

  .box-user{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }

  .nome-categ{
    font-size: 19px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    margin-left: 20px;
  }

  .edit-categ-btn{
    background-color: #71C7E8;
    border: none;
    color: white;
    margin-right: 20px;
    border-radius: 15px;
}

.edit-user-btn{
    background-color: #71C7E8;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 15px;
}

.delete-user-btn{
    background-color: #b31206;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 15px;
}

.modal-scrollable {
    max-height: 80vh; /* Defina um tamanho máximo para o modal */
    overflow-y: auto; /* Permite a rolagem vertical */
}

.edit-user-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change-password-btn{
    background-color: #71C7E8;
    border: none;
    color: white;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 5px;
}

.btn-edit-categ{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.edit-register-local{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.icon-delete-2{
    width: 20px;
    height: 20px;
    color: rgb(214, 0, 29);
    margin-bottom: 5px;
}