.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
  }
  
  .nav-button {
    font-family: 'League Spartan', sans-serif;
    flex: 1;
    text-align: center;
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #71C7E8;
    font-weight: 600;
  }
  
  .nav-button.active {
    color: #ffffff;
    background-color: #71C7E8;
  }
  
  .nav-button:hover {
    color: #ffffff;
    background-color: #71C7E8;
  }
  