.img-div{
    width: 20%;
    margin-top: -10px;
}

.container-div{
    background-color: #ffffff;
    border-top-right-radius: 60px;
    height: inherit;
    margin-top: 10px;
}

.perfil-title{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    margin-left: 20px;
}

.geral-config{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    justify-content: center;
    margin-right: 20px;
}

.geral-config h3{
    font-size: 19px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: -5px;
}

.btn-account{
    margin-top: 20px;
    width: 100%;
    display: flex;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.685);
    background-color: transparent;
}

.btn-account span{
    display: flex;
    margin-left: 15px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 10px;
}

.icon-account{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
}

.icon-account-local{
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-top: 2px;
    margin-right: 2px;
}

.admin-config{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    justify-content: center;
    margin-right: 20px;
}

.admin-config h3{
    margin-top: 25px;
    font-size: 19px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: -5px;
}

.feedback-config{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    justify-content: center;
    margin-right: 20px;
}

.feedback-config h3{
    margin-top: 25px;
    font-size: 19px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: -5px;
}

.row-1-usuario{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.icon-usuario{
    width: 120px;
    height: 120px;
}

.nome-usuario{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 23px;
    margin-left: 20px;
    font-family: 'League Spartan', sans-serif;
}

.email-usuario{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: -5px;
    font-family: 'League Spartan', sans-serif;
    margin-left: 20px;
    font-size: 18px;
}

.btn-edit-usuario{
    margin-top: 5px;
    border: none;
    border-radius: 18px;
    padding: 10px;
    width: 150px;
    background-color: #71C7E8;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    color: white;
    font-weight: 600;
}

.icon-edit-usuario{
    margin-left: 10px;
}

.edit-user-row-1{
    display: flex;
    flex-direction: row;
}

.change-password-btn{
    margin-bottom: 10px;
}

.form-input-categ{
    width: 80%;
    margin-bottom: -20px;
}

.status-emprestimo-relatorio{
    margin-top: 10px;
    margin-right: 10px;
}

.status-finalizado{
    color: rgb(173, 0, 0);
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

.status-ativo{
    color: rgb(0, 173, 0);
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
}

